// Version: 1.0.0
// Support: a, button
.m3-button {
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  min-width: 48px;
  min-height: 48px;
  max-height: 48px;
  align-items: center;
  appearance: none;
  background: transparent;
  border: none;
  box-sizing: border-box;
  justify-content: center;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:any-link, &:enabled {
    cursor: pointer;
    text-decoration: none;
  }

  &:focus-visible {
    outline: none;
  }

  &::before, &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    border-radius: 20px;
    content: attr(value);
    margin-block: auto;
  }

  // container
  &::before {
    background-color: var(--m3--primary);
    outline: 1px solid transparent;
    outline-offset: -1px;
    transition: background-color 100ms var(--m3--easing-emphasized-accelerate),
    outline-color 100ms var(--m3--easing-emphasized-accelerate);
  }

  &:disabled::before {
    background-color: rgba(var(--m3--on-surface--rgb), 12%);
  }

  // state layer
  &::after {
    transition: background-color 100ms var(--m3--easing-emphasized-accelerate);
  }

  &:any-link:focus-visible::after, &:enabled:focus-visible::after {
    background-color: rgba(var(--m3--on-primary--rgb), var(--m3--opacity-on-focus));
  }

  &:any-link:hover::after, &:enabled:hover::after {
    background-color: rgba(var(--m3--on-primary--rgb), var(--m3--opacity-on-hover));
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  }

  &:any-link:active::after, &:enabled:active::after {
    background-color: rgba(var(--m3--on-primary--rgb), var(--m3--opacity-on-press));
  }

  // label
  & > &--label {
    display: -webkit-box;
    position: relative;
    color: var(--m3--on-primary);
    font-family: Roboto, serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
    overflow: hidden;
    padding-inline: 8px;
    transition: color 100ms var(--m3--easing-emphasized-accelerate);
    z-index: 1;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    &:first-child {
      padding-inline-start: 24px;
    }

    &:last-child {
      padding-inline-end: 24px;
    }
  }

  &:disabled > &--label {
    color: rgba(var(--m3--on-surface--rgb), 38%);
  }

  // icon
  & > &--icon {
    position: relative;
    color: var(--m3--on-primary);
    font-size: 18px;
    transition: color 100ms var(--m3--easing-emphasized-accelerate);
    z-index: 1;

    &:first-child {
      padding-inline-start: 16px;
    }

    &:last-child {
      padding-inline-end: 16px;
    }
  }

  &:disabled > &--icon {
    color: rgba(var(--m3--on-surface--rgb), 38%);
  }

  // container (filled-tonal)
  &#{&}__filled-tonal::before {
    background-color: var(--m3--secondary-container);
  }

  &#{&}__filled-tonal:disabled::before {
    background-color: rgba(var(--m3--on-surface--rgb), 12%);
  }

  // state layer (filled-tonal)
  &#{&}__filled-tonal:any-link:focus-visible::after,
  &#{&}__filled-tonal:enabled:focus-visible::after {
    background-color: rgba(var(--m3--on-secondary-container--rgb), var(--m3--opacity-on-focus));
  }

  &#{&}__filled-tonal:any-link:hover::after,
  &#{&}__filled-tonal:enabled:hover::after {
    background-color: rgba(var(--m3--on-secondary-container--rgb), var(--m3--opacity-on-hover));
    box-shadow: none;
  }

  &#{&}__filled-tonal:any-link:active::after,
  &#{&}__filled-tonal:enabled:active::after {
    background-color: rgba(var(--m3--on-secondary-container--rgb), var(--m3--opacity-on-press));
  }

  // label (filled-tonal)
  &#{&}__filled-tonal > &--label {
    color: var(--m3--on-secondary-container);
  }

  &#{&}__filled-tonal:disabled > &--label {
    color: rgba(var(--m3--on-surface--rgb), 38%);
  }

  // icon (filled-tonal)
  &#{&}__filled-tonal > &--icon {
    color: var(--m3--on-secondary-container);
  }

  &#{&}__filled-tonal:disabled > &--icon {
    color: rgba(var(--m3--on-surface--rgb), 38%);
  }

  // container (outlined)
  &#{&}__outlined::before {
    background-color: transparent;
    outline-color: var(--m3--outline);
  }

  &#{&}__outlined:disabled::before {
    outline-color: rgba(var(--m3--on-surface--rgb), 12%);
  }

  // state layer (outlined)
  &#{&}__outlined:any-link:focus-visible::after,
  &#{&}__outlined:enabled:focus-visible::after {
    background-color: rgba(var(--m3--primary--rgb), var(--m3--opacity-on-focus));
  }

  &#{&}__outlined:any-link:hover::after,
  &#{&}__outlined:enabled:hover::after {
    background-color: rgba(var(--m3--primary--rgb), var(--m3--opacity-on-hover));
    box-shadow: none;
  }

  &#{&}__outlined:any-link:active::after,
  &#{&}__outlined:enabled:active::after {
    background-color: rgba(var(--m3--primary--rgb), var(--m3--opacity-on-press));
  }

  // label (outlined)
  &#{&}__outlined > &--label {
    color: var(--m3--primary);
  }

  &#{&}__outlined:disabled > &--label {
    color: rgba(var(--m3--on-surface--rgb), 38%);
  }

  // icon (outlined)
  &#{&}__outlined > &--icon {
    color: var(--m3--primary);
  }

  &#{&}__outlined:disabled > &--icon {
    color: rgba(var(--m3--on-surface--rgb), 38%);
  }

  // container (text)
  &#{&}__text::before {
    background-color: transparent;
  }

  // state layer (text)
  &#{&}__text:any-link:focus-visible::after,
  &#{&}__text:enabled:focus-visible::after {
    background-color: rgba(var(--m3--primary--rgb), var(--m3--opacity-on-focus));
  }

  &#{&}__text:any-link:hover::after,
  &#{&}__text:enabled:hover::after {
    background-color: rgba(var(--m3--primary--rgb), var(--m3--opacity-on-hover));
    box-shadow: none;
  }

  &#{&}__text:any-link:active::after,
  &#{&}__text:enabled:active::after {
    background-color: rgba(var(--m3--primary--rgb), var(--m3--opacity-on-press));
  }

  // label (text)
  &#{&}__text > &--label {
    color: var(--m3--primary);

    &:only-child {
      padding-inline: 12px;
    }

    &:not(:only-child):first-child {
      padding-inline-start: 16px;
    }

    &:not(:only-child):last-child {
      padding-inline-end: 16px;
    }
  }

  &#{&}__text:disabled > &--label {
    color: rgba(var(--m3--on-surface--rgb), 38%);
  }

  // icon (text)
  &#{&}__text > &--icon {
    color: var(--m3--primary);

    &:first-child {
      padding-inline-start: 12px;
    }

    &:last-child {
      padding-inline-end: 12px;
    }
  }

  &#{&}__text:disabled > &--icon {
    color: rgba(var(--m3--on-surface--rgb), 38%);
  }

  // placeholders
  &__filled-tonal, &__outlined, &__text {
  }
}
