.m3-sym {
  direction: ltr;
  display: inline-block;
  //noinspection CssNoGenericFontName
  font-family: "Material Symbols Rounded";
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;

  &#{&}__filled {
    font-variation-settings: "FILL" 1;
  }
}
